$gradient1-color: rgb(7, 197, 255);
$gradient2-color: rgb(233, 233, 233);

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, $gradient1-color, $gradient2-color);
    font-family: "Lucida Console", Monaco, monospace; 
    margin: 0px
}

button {
	background: none;
	border: none;
	outline: none;
}